---
layout: default
title: Home
---
<div id="toc">
    {% for post in site.posts limit: 5 %}
        {% if post.post-link %}
        <h3><a href="{{ post.title }}" title="External link">{{ post.title }}</a> <a href="{{ post.url }}" title="Permanent link to: '{{ post.title }}'">&raquo;</a></h3>
        {% else %}
        <h3><a href="{{ post.url }}" title="Permanent link to: '{{ post.title }}'"> {{post.title}}</a> <a href="{{ post.url }}" title="Permanent link to: '{{ post.title }}'">&raquo;</a></h3>
        {% endif %}
        <p id="tip-info">{{ post.date | date:"%B %e, %Y" }}</p>
        <!-- {{ post.content }} -->
    {% endfor %}
    <p><a href="{{ site.baseurl }}pages/archives.html">More &raquo;</a></p>
</div>
